

<form action="/restaurants/delete/<%= restaurant_id %>" method="post">
  <input type="hidden" name="restaurant[id]" value="id" />
  <!-- <input type="submit" name="delete_button" value="Delete" /> -->
  <button>Delete</button>
</form>