<% if flash[:notice] %>
  <p class="notice"><%=flash[:notice]%></p>
<% end %>

<form method="POST" action="/restaurants">
  <label>Name:
    <input id="name" name="restaurant[name]">
  </label>

  <label>Location:
    <input id="location" name="restaurant[location]">
  </label>

  <label>Price range:
    <input id="price_range" name="restaurant[price_range]">
  </label>

  <label>Food type:
    <input id="food_type" name="restaurant[food_type]">
  </label>

  <button>Record Restaurant!</button>
</form>
