<% if flash[:notice] %>
  <p class="notice"><%=flash[:notice]%></p>
<% end %>

<form method="POST" action="/restaurants">
  <label>Name:
    <input id="name" name="restaurant[name]">
  </label>

  <label>Location:
    <input id="location" name="restaurant[location]">
  </label>

  <label>Cuisine:
    <input id="cuisine" name="restaurant[cuisine]">
  </label>
 
  <button>Record Restaurant!</button>
</form>