<% if flash[:notice] %>
  <p class="notice"><%=flash[:notice]%></p>
<% end %>

<form method="POST" action="/restaurants">
  <label>Name:
    <input id="name" name="restaurant[name]">
  </label>

  <label>Location:
    <input id="location" name="restaurant[location]">
  </label>

  <label>Price range:
    <!-- <input id="price_range" name="restaurant[price_range]"> -->
  <select name= "restaurant[price_range]">
  <option value="$">$</option>
  <option value="$$">$$</option>
  <option value="$$$">$$$</option>
</select>

  </label>
  <button>Record Restaurant!</button>
</form>