<% @restaurants.each_with_index do |restaurant, index| %>
  #<%= index + 1 %>: <a href ="<%= restaurant.id %>"> <%= restaurant.name %></a>
  <span><a href="edit/<%= restaurant.id %>">[edit]</a></span> 
  <br>
<% end %>